.textos1
{
    font-weight: bold;
}

.espaco
{
    padding-top: 1rem;
}

.imagem
{
    background-image: url(https://i.imgur.com/d5bMdDJ.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none
{
    text-decoration: none;
}

.sombra
{
    width: 100%;
    max-width: 500px;
    margin: 120px auto 0;
    background: #fff;
    box-shadow: 0px 5px 20px;
    padding: 1rem 2rem;
    
}

.ou
{
    position: relative;
    margin: 20px 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.crie
{
    padding-top: 1rem;
    font-size: 32px;
}