.textos1
{
    color: black;
}

.fundo
{
    background-color: #F0F4F6;
}

.espaco
{
    padding-top: 1rem;
    font-size: 13px !important;
}

.text-decorator-none
{
    text-decoration: none;
}

.sombra
{
    margin: 80px auto 0;
    background: rgba(247, 246, 246, 0.9);
    box-shadow: 5px 5px 20px;
    padding: 2rem 2rem;
    border-radius: 50px;
}

.crie
{
    padding-bottom: 1rem;
    font-size: 28px;
}

.pontilhado
{
    position: relative;
    margin: 20px 0;
}

.tracoLeft
{
    display: block;
    float: left;
    width: 40%;
    border-bottom: 1px dashed #ccc;
    margin-top: 13px;
}

.tracoRight
{
    display: block;
    float: right;
    width: 40%;
    border-bottom: 1px dashed #ccc;
    margin-top: 13px;
}

.ou
{
    text-align: center;
    letter-spacing: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
}

.btao
{
    background-color: #8806BF !important;
}

.btao:hover
{
    background-color: #8806BF !important;
}

.btao:disabled
{
    background-color: #d9d8d8 !important;
}

.loading-login
{
    margin: 5px;
}