.Center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;  
}
.peido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 76vw;
    height: 40.5vw;
    margin: 2vw;
}

.zoni{
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.zoni2{
    display: block;
  width: 25vw;
  object-fit: cover;
}