.text-decorator-none{
    text-decoration: none;
}

.foto-produto{
    width: 200px;
    height: auto;
}

.card-produtos{
    width: 250px;
    height: 400px;
}

.grid-equipe{
    margin: 20px;
}

.box-produtos{
    margin: 20px;
    display: inline;
    align-items: center;
    justify-content: center;
}

.loading-produtos{
    margin-left: 50%;
    margin-top: 15%;
}

.cards-produtos{
    width: 345px;
    display: inline-block;
    margin: 20;
    transition: all 1s !important;
    border-radius: 20px !important;
    box-shadow: 10px 10px 20px;
}

.cards-produtos:hover{
    
    transform: scale(1.05);
    transition: all 1s !important;
}

.pesquisa-produtos{
    align-items: center !important;
    justify-content: center !important;
}

.css-1x7skt0{
    background-color: rgb(255, 255, 255);
    color: rgb(200, 200, 200);
}

.jss52{
    color: black;
}